In [2]:
import pandas as pd
import numpy as np

In [45]:
pubs = ["All", "Atlantic", "Reuters", "New_York_Post", 
                     "Breitbart", "New_York_Times", "Buzzfeed_News",
                     "National_Review", "Business_Insider", "Talking_Points_Memo",
                     "Fox_News", "CNN", "Guardian", "NPR", "Washington_Post"]
df = pd.read_csv("../app/data/Original_Data/highestOccurancesToSentiment{}.csv".format(pubs[0]), sep= ";", index_col= 0)
df.head()

,occur,04/2016,04/2017,08/2016,12/2016,02/2016,02/2017,01/2016,01/2017,07/2016,...,06/2015,03/2014,03/2015,05/2014,11/2014,10/2014,10/2015,09/2014,07/2017,04/2014
entity,,,,,,,,,,,,,,,,,,,,,
Trump,329565,0.0365096006548093,0.02466838847946461,0.010691180398703724,0.045295747845122455,0.031102337568905913,0.003654630975803389,0.029443818966717727,0.020224617936498115,0.025165167234116225,...,0.05096125,None,0.185329,None,None,None,None,None,0.01685854939106901,None
one,154375,-0.00026335211938402866,0.005828880779450843,0.010439171205831729,0.014764450455927053,0.011089663585341695,0.016872403745250595,-0.005946613002566296,0.016737585200578244,-0.0027218281081081066,...,0.008284644859813084,-0.1889085,-0.010549347471451876,0.2683,0.06012016,-0.026825,0.0422628947368421,0.17628749999999999,-0.023047790909090916,None
first,98413,0.02647504401154401,0.011123314300345667,0.03499573747870528,0.01942721708542714,0.03235266488079293,0.02751220956558653,0.012415173050801412,0.01941462158987078,0.01518323753449862,...,0.018889,0.1269125,0.0020372966507177033,-0.2757,0.0267504,-0.008355666666666667,0.08896884615384616,0.11315,0.02783952631578947,0.0
Clinton,94514,0.04590782586367881,0.01526470541205412,0.015772579111236907,-0.002218768008474577,0.04762312961476726,0.00890531300160514,0.0031115798341802624,0.008741673449131515,0.023106009626492105,...,0.021262,None,0.035874,None,None,None,0.0386,-0.12895,0.0014435217391304345,None
two,87315,-0.013394084647302906,-0.013307672855217846,-0.012644978446674093,-0.003268051471949639,-0.005169620658949242,-8.742847582399711e-06,-0.030919333519709262,0.004110774162679425,-0.026209795525902666,...,-0.0314535591985428,0.010156499999999999,-0.044035548387096765,-0.2285,0.035336545454545454,0.25723333333333337,0.0,0.0,-0.005376513043478256,-0.1806

In [ ]:
# loop
for pub in pubs:
    df = pd.read_csv("../app/data/Original_Data/highestOccurancesToSentiment{}.csv".format(pub), sep= ";", index_col= 0)
    dft = df.T[1:]
    dft["dates"] = dft.index.values
    dft.to_csv("../app/data/Tidy_Data/tidy_sent_data_{}.csv".format(pub))

In [6]:
# convert occurences
df = pd.read_csv("../app/data/Original_Data/occurances_per_month.csv", sep= ";", index_col= 0)
dft = df.T
dft["dates"] = dft.index.values
dft.to_csv("../app/data/Tidy_Data/tidy_occ_by_time_data.csv")